<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
     <bean id = "commonObject" class = "com.spring.di3.MathCheat"></bean> 
     
       
    <bean id="stu1" class="com.spring.di3.Student">
	    <property name = "id" value = "1000"/>
	    <property name ="mc" ref = "commonObject"/>
    </bean> 
    
    <bean id = "stu2" class="com.spring.di3.Student2">
        <property name= "cheat" ref = "commonObject"/>     
    </bean> 
         
        
</beans>        